body {
  background: url('../img/body-bg.jpg') 30px 0 repeat;
}

.thumbnail {
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.header-font {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-transform: uppercase;
}

.white-info {
  color: @full-white;
}

.text-shadow {
  .text-shadow(#f6cb8d, 0 1px);
}

.separator {
  width: 100%;
  height: 3px;
  margin: 12px 0 15px 0;
  position: relative;

  background-color: @fox-brown;

  .rhombus {
    width: 23px;
    height: 17px;

    position: absolute;
    top: -8px;
    left: 50%;
    margin-left: -8px;

    background: url("../img/separators-rhombus.jpg") 1px 1px no-repeat transparent;
  }
}

.btn.btn-orange {
  margin-top: 10px;

  position: relative;
  color: @fox-brown;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 18px;

  background-color: @fox-orange;
  border-radius: 0;

  .angle {
    position: absolute;

    top: 0;
    right: -11px;

    width: 10px;
    height: 30px;

    background: url("../img/button-angle.png") 0 0 no-repeat transparent;
  }
}

.sub-header {
  width: 100%;

  color: #bb7e26;
  font-size: 18px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  line-height: 24px;
  text-transform: none;

  &.line-top {
    border-top: 2px solid @fox-brown;
  }

  &.line-bottom {
    border-bottom: 2px solid @fox-brown;
  }
}

.top-wrapper {

  .search-form {
    padding: 15px 0;

    .form-group {
      margin-bottom: 0;

      input {
        height: 34px;
        background-color: @fox-beige-lighten;

        border: none;
        border-radius: 0;

        min-width: 187px;
        font-size: 14px;

        &::-webkit-input-placeholder {
          color: @fox-brown;
          font-size: 14px;
        }
        &::-moz-placeholder {
          color: @fox-brown;
          font-size: 14px;
        }
        /* Firefox 19+ */
        &:-moz-placeholder {
          color: @fox-brown;
          font-size: 14px;
        }
        /* Firefox 18- */
        &:-ms-input-placeholder {
          color: #745a4c;
          font-size: 14px;
        }
      }

      /* Medium devices (desktops, 992px and up) */
      @media (min-width: @screen-sm-min) {
        .input-group {
          width: 228px;
          float: right;
        }
      }

      .input-group-addon {
        background: url("../img/search-button.png") 0 0 no-repeat transparent;
        padding: 0;
        border: none;
        border-radius: 0;

        button {
          width: 41px;
          height: 34px;

          background: transparent;
          border: none;
          padding: 0;
        }
      }
    }
  }

  .socials {
    margin-bottom: 0;

    li {
      float: left;
      padding: 16px 4px;

      i {
        display: block;
        width: 32px;
        height: 30px;

        &.icon-fox-facebook {
          background: url("../img/socials-sprite.png") 0 0 no-repeat transparent;

          &:hover {
            background: url("../img/socials-active-sprite.png") 0 0 no-repeat transparent;
          }
        }
        &.icon-fox-dribbble {
          background: url("../img/socials-sprite.png") -40px 0 no-repeat transparent;

          &:hover {
            background: url("../img/socials-active-sprite.png") -40px 0 no-repeat transparent;
          }
        }
        &.icon-fox-twitter {
          background: url("../img/socials-sprite.png") -80px 0 no-repeat transparent;

          &:hover {
            background: url("../img/socials-active-sprite.png") -80px 0 no-repeat transparent;
          }
        }
        &.icon-fox-googleplus {
          background: url("../img/socials-sprite.png") -120px 0 no-repeat transparent;

          &:hover {
            background: url("../img/socials-active-sprite.png") -120px 0 no-repeat transparent;
          }
        }
        &.icon-fox-forrst {
          background: url("../img/socials-sprite.png") -160px 0 no-repeat transparent;

          &:hover {
            background: url("../img/socials-active-sprite.png") -160px 0 no-repeat transparent;
          }
        }
      }
    }
  }
}

.main-wrapper {
  width: 100%;
  padding: 50px 20px 0 20px;
  background: url('../img/container-bg.jpg') 30px 0 repeat @fox-beige;
}

.menu-wrapper {
  .small-logo {
    width: 95px;
    margin-top: -19px;
  }

  .navbar-collapse, .navbar-form {
    border-color: @fox-brown;
  }

  .brown-navbar {
    background: url("../img/menu-texture.png") 0 0 repeat-x transparent;
    border-color: @fox-brown;
    margin-bottom: 0;
    box-shadow: 0 5px 0 rgba(2, 2, 2, 0.16);
    height: 61px;

    .left-ribbon, .right-ribbon {
      width: 16px;
      height: 61px;
      position: absolute;
      top: 0;
    }

    .left-ribbon {
      left: -10px;
      background: url("../img/ribbons-sprite.png") -16px 0 no-repeat transparent;
    }

    .right-ribbon {
      right: -10px;
      background: url("../img/ribbons-sprite.png") 0 0 no-repeat transparent;
    }

    .navbar-toggle {
      padding: 15px 10px;
      border: 0;

      .icon-bar {
        background-color: @fox-beige;
      }

      &:hover, &:focus {
        background-color: transparent;
      }
    }

    .navbar-collapse {

      background-color: @fox-beige;

      ul > li {
        font-size: 24px;
        border-bottom: 1px solid @fox-brown;

        a {
          color: @fox-brown;
        }

        &.active > a {
          color: @full-white;
          background-color: @fox-orange;
          .text-shadow(@fox-brown, 1px 2px);
        }

        @media (min-width: @screen-sm-min) {
          border-bottom: 0;

          a {
            color: #eddbc1;
          }

          &.active {
            background: url('../img/active-arrow.png') no-repeat center 6px transparent;
            & > a {
              color: #eddbc1;
              background-color: transparent;
            }
          }
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }

    /* Small devices (tablets, 768px and up) */
    @media (min-width: @screen-sm-min) {
      .navbar-collapse {
        background-color: transparent;
        display: inline-block !important;

        .big-logo {
          margin-top: -42px;
        }

        ul > li {
          a {
            line-height: 30px;
          }
        }
      }
    }
  }
}

.orange-footer {
  position: relative;
  padding: 0 43px 30px 43px;

  background: url("../img/footer-orange-texture.jpg") 0 0 repeat-x @fox-orange;

  img {
    float: left;
    margin-right: 7px;
  }

  .recent-posts {
    p {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .archives {
    ul {
      margin-top: -7px;

      li {
        border-bottom: 1px solid rgba(256, 256, 256, 0.2);
        line-height: 35px;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  .left-angle, .right-angle {
    position: absolute;
    top: -33px;
    width: 24px;
    height: 33px;

  }

  .left-angle {
    left: 0;
    background: url("../img/footer-angles-sprite.png") 0 0 no-repeat transparent;
  }

  .right-angle {
    right: 0;
    background: url("../img/footer-angles-sprite.png") -24px 0 no-repeat transparent;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  .orange-footer {
    margin-left: -24px;
    margin-right: -23px;

    h3 {
      color: @fox-brown;
      margin-bottom: 25px;
    }
  }
}

.brown-footer {
  background: url("../img/footer-brown-texture.jpg") 0 0 repeat-x @fox-brown;
  padding: 21px 20px 42px 20px;

  .info {
    color: @fox-orange;
  }

  .brown-info {
    color: #b7720f;
  }

  .advertis {
    color: @fox-orange;
  }
}