.main-wrapper {
  #main-slider {

    margin-bottom: 42px;

    .carousel-control {
      width: 57px;
      height: 100%;

      opacity: 1;
    }

    .carousel-control.left {
      margin-left: 10px;
      background: url("../img/slider-arrows-sprite.png") 0 center no-repeat transparent;
    }

    .carousel-control.right {
      margin-right: 10px;
      background: url("../img/slider-arrows-sprite.png") -57px center no-repeat transparent;
    }

    .carousel-indicators {

      bottom: -45px;

      li {
        background: url("../img/slider-positions-sprite.png") -19px 0 no-repeat transparent;

        width: 19px;
        height: 22px;

        border-radius: 0;
        border: none;

        &.active {
          background: url("../img/slider-positions-sprite.png") 0 0 no-repeat transparent;
        }
      }
    }
  }

  .big-header {
    color: @fox-brown;
    font-size: 60px;

    .text-shadow(@full-white, 0 1px);
  }

  .data-items {
    .thumbnail {
      .caption {
        padding: 0;

        h3.header-font {
          color: @fox-brown;
          font-size: 36px;
          .text-shadow(@full-white, 0 1px);
        }

        p {
          color: @fox-brown;
          font-size: 16px;
          .text-shadow(@full-white, 0 1px);
        }
      }
    }
  }
}