<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="shortcut icon" href="./assets/img/favicon.ico" type="image/x-icon">

    <!--(if target dev)><!-->
    <link rel="stylesheet" href="/build/assets/css/main.css"/>
    <!--<!(endif)-->

    <!--(if target build)>
    <link rel="stylesheet" href="./assets/css/main.min.css?v={{random}}"/>
    <!(endif)-->

    <!--[if lte IE 8]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="/vendor/respond/dest/respond.min.js"></script>
    <![endif]-->

    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100">-->
    <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>

    <title>FOX</title>
</head>
<body>

<div class="container top-wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-push-6 col-md-6 col-md-push-6">
            <form class="search-form">
                <div class="form-group">
                    <label class="sr-only" for="searchInput">Search</label>

                    <div class="input-group">
                        <input type="text" class="form-control" id="searchInput" placeholder="Search the site">

                        <div class="input-group-addon">
                            <button type="submit">
                                <span class="sr-only">Search</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6 col-md-6 col-md-pull-6">
            <ul class="list-unstyled socials">
                <li><a href="#"><i class="icon-fox-facebook"></i></a></li>
                <li><a href="#"><i class="icon-fox-dribbble"></i></a></li>
                <li><a href="#"><i class="icon-fox-twitter"></i></a></li>
                <li><a href="#"><i class="icon-fox-googleplus"></i></a></li>
                <li><a href="#"><i class="icon-fox-forrst"></i></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container menu-wrapper">
    <div class="row">
        <div class="col-xs-12">
            <nav class="navbar navbar-default navbar-static-top brown-navbar text-center">
                <div class="navbar-header hidden-md hidden-lg">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#main-menu-collapse" aria-expanded="false">
                        <span class="sr-only">Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand hidden-sm hidden-md hidden-lg" href="#">
                        <img class="small-logo"
                             src="assets/img/logo.png"
                             alt="logo"/>
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="main-menu-collapse">
                    <ul class="nav navbar-nav header-font">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blog</a></li>
                        <li class="hidden-xs">
                            <a class="navbar-brand" href="#">
                                <img class="big-logo" src="assets/img/logo.png" alt="logo"/>
                            </a>
                        </li>
                        <li><a href="#">Page</a></li>
                        <li class="active"><a href="#">Work <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

                <dvi class="left-ribbon hidden-xs"></dvi>
                <dvi class="right-ribbon hidden-xs"></dvi>
            </nav>
        </div>
    </div>

</div>

<div class="container">
    <div class="main-wrapper">

        <div id="main-slider" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="assets/img/slider.jpg" alt="work-1">
                </div>
                <div class="item">
                    <img class="img-responsive" src="assets/img/slider.jpg" alt="work-1">
                </div>
                <div class="item">
                    <img class="img-responsive" src="assets/img/slider.jpg" alt="work-1">
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#main-slider" data-slide="prev"></a>
            <a class="right carousel-control" href="#main-slider" data-slide="next"></a>
        </div>

        <h1 class="big-header header-font text-center">Lorem Ipsum Dolar Amet</h1>

        <div class="separator">
            <span class="rhombus"></span>
        </div>

        <div class="row data-items">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img class="img-responsive" src="assets/img/work-1.png" alt="work-1">

                    <div class="caption">
                        <h3 class="header-font">
                            Lorem Ipsum Dolar
                            <div class="sub-header line-bottom">web, design, paint, photo</div>
                        </h3>
                        <p>
                            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                            egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor.
                        </p>

                        <a href="#" class="btn btn-orange" role="button">
                            Read more
                            <span class="angle"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img class="img-responsive" src="assets/img/work-1.png" alt="work-1">

                    <div class="caption">
                        <h3 class="header-font">
                            Lorem Ipsum Dolar
                            <div class="sub-header line-bottom">web, design, paint, photo</div>
                        </h3>

                        <p>
                            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                            egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor.
                        </p>

                        <a href="#" class="btn btn-orange" role="button">
                            Read more
                            <span class="angle"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img class="img-responsive" src="assets/img/work-1.png" alt="work-1">

                    <div class="caption">
                        <h3 class="header-font">
                            Lorem Ipsum Dolar
                            <div class="sub-header line-bottom">web, design, paint, photo</div>
                        </h3>

                        <p>
                            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                            egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor.
                        </p>

                        <a href="#" class="btn btn-orange" role="button">
                            Read more
                            <span class="angle"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="orange-footer">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 recent-posts">
                <h3 class="text-center header-font text-shadow">Recent posts</h3>

                <p class="text-shadow">
                    Vestibulum tortor quam, feugiat. <br/>
                    <small class="white-info">March 12, 2011</small>
                </p>
                <p class="text-shadow">
                    Vestibulum tortor quam, feugiat. <br/>
                    <small class="white-info">March 12, 2011</small>
                </p>
                <p class="text-shadow">
                    Vestibulum tortor quam, feugiat. <br/>
                    <small class="white-info">March 12, 2011</small>
                </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 archives">
                <h3 class="text-center header-font text-shadow">Archives</h3>
                <ul class="list-unstyled">
                    <li>January 12, 2015 <span class="white-info">(2)</span></li>
                    <li>January 15, 2015 <span class="white-info">(16)</span></li>
                    <li>January 21, 2015 <span class="white-info">(7)</span></li>
                    <li>January 24, 2015 <span class="white-info">(26)</span></li>
                    <li>January 29, 2015 <span class="white-info">(11)</span></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <h3 class="text-center header-font text-shadow">Dummy text</h3>

                <p class="text-shadow">
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit
                    amet quam egestas semper.
                </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <h3 class="text-center header-font text-shadow">Latest work</h3>

                <p class="text-left text-shadow clearfix">
                    <img src="assets/img/latest-work-1.jpg" alt="work-1"/>
                    Pellentesque habitant morbi tristique.
                </p>

                <p class="text-left text-shadow clearfix">
                    <img src="assets/img/latest-work-2.jpg" alt="work-1"/>
                    Pellentesque habitant morbi tristique
                </p>
            </div>
        </div>

        <div class="left-angle hidden-xs"></div>
        <div class="right-angle hidden-xs"></div>
    </div>
    <div class="brown-footer">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <p class="info">
                    <small class="brown-info">about 16 hours ago</small>
                    <br/>
                    New at ThemeForest - FitnessMag - Responsive Blogging WordPress <br/>
                    <span class="white-info">
                        Theme http://t.co/O3it76LI
                    </span>
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 text-right">
                <small class="advertis">
                    Fox template by
                    <span class="white-info">Luiszuno.com</span>
                </small>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var LOAD_MODULE = true;
</script>

<!--(if target dev)><!-->
<script type="text/javascript">
    var DEV_MODE = false;
    var BUILD_KEY = 'dev';
</script>
<script data-main="/assets/js/boot.js" src="/vendor/requirejs/require.js"></script>
<!--<!(endif)-->
<!--(if target build)>
<script type="text/javascript">window.BUILD_KEY = '{{random}}';</script>
<script src="/assets/js/app.min.js?v={{random}}"></script>
<!(endif)-->

</body>
</html>
